html{
    font-size: 15px;
}

body{
    width:100%;
    height: 100%;
}
@media (max-width: 1000px){
    html{
        font-size: 12px;
    }
}
* {
    border:0;
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    box-sizing: border-box;
    -ms-zoom: 1;
    zoom:1;
} 
    #select {
        display:flex;
        display: -webkit-flex;
        flex-direction: row;
        align-items:center;
        flex-wrap:nowrap;
        width: 60rem;
        justify-content:center;
        margin: 0 auto;
    } 
    .input1 {
        height: 2rem;
        width: 10rem;
        /*margin-bottom: 10px;*/
        /*border-radius: 8px;*/
        box-shadow: inset 0 0 5px #aaa;
        outline: none;
        padding:0.06rem 0 0.06rem 0.667rem;
        opacity: 0.8;
    }   
    .insert {
        height: 2rem;
        width: 6rem;
        /*border-radius: 8px;*/
        box-shadow: inset 0 0 5px #aaa;
        outline: none;
        cursor: pointer;
        font-size: 1.0rem;
    } 
    #node{
        margin-right: 20px;
    }
    #operate {
        margin-left: 20px;
        padding-top: 10px;
    }
    #operate label {
        display: inline-block;
        width: 3.33rem;
        height: 3.33rem;
    }   
    #operate label span {
        display: block;
        text-align: center;
        line-height: 3.33rem;
        border: 1px solid #16324a;
        border-radius: 50%;
        cursor: pointer;
        font-size: 1.0rem;
        /*background-color: #DDA0DD;*/
    } 
    #operate label input { 
       /* width: 3.33rem;
        height: 3.33rem;*/
        opacity: 0;
    }  
    #chart-wrap {
        position: relative;
        width: 66rem;
        height: 36rem;
        margin: 10px auto;
        box-shadow: 0px 0px 5px #999;
        border-radius: 15px;
        overflow: auto;
    }
    .circle {
        position: absolute;
        top: 0px;
        left: 0px;
        border: 1px solid black;
        width: 50px;
        height: 50px;
        border-radius: 25px;
    }
    .text{
        display: block;
        text-align: center;
        font-size: 20px;
        margin-top: 10px;
    }
    .left-line {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 250px;
        height: 50px;
        border: none;
    }
    .left-line:before {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        border-bottom: 50px solid black;
        border-left: 250px solid transparent;
        content: "";
    }
    .left-line:after {
        position: absolute;
        top: 1px;
        right: 0;
        left: 1px;
        bottom: 0;
        border-bottom: 50px solid white;
        border-left: 250px solid transparent;
        content: "";
    }
    .right-line {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 250px;
        height: 50px;
        border: none;
    }
    .right-line:before {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        border-bottom: 50px solid black;
        border-right: 250px solid transparent;
        content: "";
    }
    .right-line:after {
        position: absolute;
        top: 1px;
        right: 1px;
        left: 0;
        bottom: 0;
        border-bottom: 50px solid white;
        border-right: 250px solid transparent;
        content: "";
    }
    .left-little-line {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100px;
        height: 50px;
        border: none;
    }
    .left-little-line:before {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        border-bottom: 50px solid black;
        border-left: 100px solid transparent;
        content: "";
    }
    .left-little-line:after {
        position: absolute;
        top: 1px;
        right: 0;
        left: 1px;
        bottom: 0;
        border-bottom: 50px solid white;
        border-left: 100px solid transparent;
        content: "";
    }
    .right-little-line {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100px;
        height: 50px;
         border: none;
    }
    .right-little-line:before {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        border-bottom: 50px solid black;
        border-right: 100px solid transparent;
        content: "";
    }
    .right-little-line:after {
        position: absolute;
        top: 1px;
        right: 1px;
        left: 0;
        bottom: 0;
        border-bottom: 50px solid white;
        border-right: 100px solid transparent;
        content: "";
    }
    #options{
        position: absolute;
        left: 250px;
        top: 68px;
    }
